h3
{
    font-family: Georgia, serif;
}
.container{
    background-color: beige;
}
#intro{
    margin: 40px;
    padding-left: 30px;
    padding-right: 300px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
#headline {
    padding-bottom: 20px;
    border-bottom: 3px solid grey;
    margin-left: 85px;
}